{% extends 'base.html.twig' %}

{% block title "Jocelyn ARZUR | Accueil" %}

{% block body %}
	<div class="container">
		<section class="row">
			{% if user != null and user.roles[0] == "ROLE_ADMIN" %}
				<a class="btn btn-success" href="{{ path('accueil.create') }}">Nouveau</a>
			{% endif %}
			{% for text in donnees %}
				<article class="card w-100 my-3">
					<h5 class="card-header">
						<strong>{{text.titre}}</strong>
					</h5>
					<div class="card-body">
						<p class="card-text">{{text.texte}}</p>
					</div>
					{% if user != null and user.roles[0] == "ROLE_ADMIN" %}
						<div class="card-footer">
							<a href="{{ path('accueil.edit', {'id': text.id }) }}" class="btn btn-outline-warning">Editer</a>
							<a href="{{ path('accueil.delete', {'id': text.id }) }}" class="btn btn-outline-danger" onclick="event.preventDefault();confirm('Etes vous sur?') && document.getElementById('js-delete-billet-form-{{ text.id }}').submit(); ">Supprimer</a>
						</div>
						<form id="js-delete-billet-form-{{ text.id }}" action="{{ path('accueil.delete', {'id':text.id}) }}" method="POST" style="display: none;">
					<input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
					<input type="hidden" name="_method" value="DELETE">
				</form>
					{% endif %}
				</article>
				
			{% endfor %}

		</section>
	</div>

{% endblock %}
