{% extends "base.html.twig" %}

{% block body %}
	<div class="container w-50">
		{{form_start(form)}}
		{{form_widget(form)}}
		<p>
			<input type="submit" class="btn btn-primary" value="{{ 'Envoyer' }}" formnovalidate>
			<a href="{{ path('accueil') }}">Cancel</a>
		</p>
		<p>
			{{form_end(form)}}
		</p>


	</div>
{% endblock %}
