{% extends 'base.html.twig' %}

{% block title %}
	Jocelyn ARZUR |
	{{ projet.titreProjet }}
{% endblock %}

{% block body %}
	<div class="container">

		{% if (projet.natureProjet == 'projets_afpa') %}
			<h2 class="text-muted mx-3">{{ projet.titreProjet }}</h2>
			<p>{{ projet.description }}</p>


			<div id="carouselProjet" class="carousel slide bg-dark mr-3 mb-3" data-ride="carousel">
				<ol class="carousel-indicators">
					{% set i = 0 %}
					{% for infosVersion in projet.projetsAfpas %}
						{% if i == 0 %}
							<li data-target="#carouselProjet" data-slide-to="0" class="active"></li>
						{% else %}
							<li data-target="#carouselProjet" data-slide-to="<?= $i ?>"></li>
						{% endif %}
						{% set i = i+1 %}
					{% endfor %}

				</ol>
				<div class="carousel-inner">
					{% set i = 0 %}
					{% for infosVersion in projet.projetsAfpas %}
						{% if (i == 0) %}
							<div class="carousel-item active justify-content-center">
							{% else %}
								<div class="carousel-item justify-content-center">
								{% endif %}
								<img src="{{ asset('build/images/' ~ infosVersion.screen ) }}" class="d-block my-3 col-6 offset-3 img-carousel" alt="image d'accueil LaFleur {{ infosVersion.version }}">
								<div class="carousel-caption d-none d-md-block">
									<h5>{{infosVersion.version}}</h5>
								</div>
							</div>
							{% set i = i+1 %}
						{% endfor %}

					</div>
					<a class="carousel-control-prev" href="#carouselProjet" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselProjet" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				{% for infosVersion in projet.projetsAfpas %}
					<div class="row collapser" data-toggle="collapse" href="#collapse-{{infosVersion.id}}{{ infosVersion.dateCreation | date('YdMHm') }}">
						<div>
							<div class="row mx-3">
								<img class="up ml-3" src="{{ asset('build/images/arrow-down.svg') }}" alt="">
								<h2 class="text-muted mx-3">{{ infosVersion.version }}</h2>
								<img class="up" src="{{ asset('build/images/arrow-down.svg') }}" alt="">
							</div>
						</div>
					</div>
					<article class="row card collapse mx-1" id="collapse-{{infosVersion.id}}{{ infosVersion.dateCreation | date('YdMHm') }}">
						<div class="card-body media">
							<figure>
								<img src="{{ asset('build/images/' ~ infosVersion.screen )}}" alt="" class="mr-3">
							</figure>
							<div class="media-body">
								<h5>Date de création :</h5>
								{{ infosVersion.dateCreation | date('m/Y')}}
								<hr>
								<h5>Cahier des charges</h5>
								{{ infosVersion.cahierCharges }}
								<hr>
								<h5>Solutions apportées :</h5>
								{{ infosVersion.solutions }}
							</div>
						</div>
						<div class="card-footer">
							{% if infosVersion.github != null %}
								<a href="{{ infosVersion.github }}" target="_blank" class="btn btn-outline-secondary my-1">Code</a>
							{% endif %}

							{% if infosVersion.projetLink != null %}
								<a href="{{ infosVersion.projetLink }}" target="_blank" class="btn btn-outline-secondary my-1">Voir le projet</a>
							{% endif %}

							{% if infosVersion.bddLink != null %}
								<a href="{{ infosVersion.bddLink }}" target="_blank" class="btn btn-outline-secondary my-1">Base de données</a>
							{% endif %}

							{% if infosVersion.cahierChargesLink != null %}
								<a href="{{ infosVersion.cahierChargesLink }}" target="_blank" class="btn btn-outline-secondary my-1">Cahier des chages</a>
							{% endif %}
						</div>
					</article>

					<hr>
				{% endfor %}
			</div>

		{% else %}

			<h2 class="text-muted mx-3">{{ projet.titreProjet }}</h2>
			<p>{{ projet.description }}</p>


			<div id="carouselProjet" class="carousel slide bg-dark mr-3 mb-3" data-ride="carousel">
				<ol class="carousel-indicators">
					{% set i = 0 %}

					{% for infosVersion in projet.jeux %}
						{% for screen in infosVersion.screensJeux %}
							{% if (i == 0) %}
								<li data-target="#carouselProjet" data-slide-to="0" class="active"></li>
							{% else %}
								<li data-target="#carouselProjet" data-slide-to="{{ i }}"></li>
							{% endif %}
							{% set i = i + 1 %}
						{% endfor %}

					{% endfor %}
				</ol>
				<div class="carousel-inner">
					{% set i = 0 %}

					{% for infosVersion in projet.jeux %}
						{% for screen in infosVersion.screensJeux %}
							{% if (i == 0) %}
								<div class="carousel-item active">
								{% else %}
									<div class="carousel-item">
									{% endif %}
									{% set i = i + 1 %}
									<img src="{{ asset('build/images/' ~ screen.screenJeux )}}" class="d-block my-3 col-6 offset-3" alt="image d'accueil LaFleur <?= $infosVersion->version_jeux ?>">
									<div class="carousel-caption d-none d-md-block">
										<h5>{{ screen.versionJeux }}</h5>
									</div>
								</div>
								{% set i = i+1 %}
							{% endfor %}

						{% endfor %}
						?>


					</div>
					<a class="carousel-control-prev" href="#carouselProjet" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselProjet" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

				{% for infosVersion in projet.jeux %}
					<div class="row collapser" data-toggle="collapse" href="#collapse-{{ infosVersion.id }}">
						<div>
							<div class="row mx-3">
								<img class="up ml-3" src="{{ asset('build/images/arrow-down.svg') }}" alt="">
								<h2 class="text-muted mx-3">{{ infosVersion.version}}</h2>
								<img class="up" src="{{ asset('build/images/arrow-down.svg') }}" alt="">
							</div>
						</div>
					</div>
					<article class="row card collapse mx-1" id="collapse-{{ infosVersion.id }}">
						<div class="card-body media">
							<figure>
								<img src="{{ asset('build/images/' ~ infosVersion.screensJeux[1].screenJeux )}}" alt="" class="mr-3">
							</figure>
							<div class="media-body">
								<h5>Date de création :</h5>
								{{ infosVersion.dateCreation | date('m - Y')}}
								<hr>
								<h5>Idée :</h5>
								{{ infosVersion.idee }}
								<hr>
								<h5>Solutions trouvées :</h5>
								{{ infosVersion.solution }}
								<hr>
								<h5>Règles :</h5>
								{{ infosVersion.regles }}
								<hr>
								<h5>Commandes :</h5>
								<img src="{{ asset('build/images/' ~ infosVersion.commandes) }}" alt="">
							</div>
						</div>
						<div class="card-footer">

							{% if infosVersion.githubLink != null %}
								<a href="{{ infosVersion.githubLink }}" target="_blank" class="btn btn-outline-secondary my-1">Code</a>
							{% endif %}

							{% if infosVersion.projetLink != null %}
								<a href="{{ infosVersion.projetLink }}" target="_blank" class="btn btn-outline-secondary my-1">Voir le projet</a>
							{% endif %}

							{% if infosVersion.bddLink != null %}
								<a href="{{ infosVersion.bddLink }}" target="_blank" class="btn btn-outline-secondary my-1">Base de données</a>
							{% endif %}

							{% if infosVersion.cahierCharges != null %}
								<a href="{{ infosVersion.cahierCharges }}" target="_blank" class="btn btn-outline-secondary my-1">Cahier des chages</a>
							{% endif %}
						</div>
					</article>

					<hr>
				{% endfor %}
			</div>
		{% endif %}
	{% endblock %}
